@primary-background-color : #F4F3F0;
@secondary-background-color: #0A0A0F;

@primary-text-color: #333;
@secondary-text-color: #F0EDE6;

@fondo_header: rgb(90, 90, 245);
@hover_header:  rgb(38, 38, 243);

@primary-button-color: @fondo_header;
@primary-button-text-color: @secondary-text-color;

#break-points {
    tablet: 768px;
    desktop: 1025px;
    wide: 2300px;
    
}