<section class="grid">
    <div class="row">
        <div class="col-12 col-md-6">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae animi ex blanditiis necessitatibus,
                consequatur quis. Ex, inventore ut dicta rem, consequatur assumenda vitae laborum quis vero eos libero
                hic consequuntur.
            </p>
        </div>
        <div class="col-12 col-md-6">
            <picture>
                <source srcset="https://picsum.photos/id/289/640/640" media="(min-width:700px)">
                <img src="https://picsum.photos/id/289/400/400" alt="Half Image" class="cover-img" />
            </picture>
        </div>
    </div>
</section>