<section class="grid" id="Grid">
    <div class="row">
        {{#each half_information}}
        <div class="col-12 col-md-6">
            <p>
                {{info}}
            </p>
        </div>
        <div class="col-12 col-md-6">
            <picture>
                <source srcset="{{imagen}}" media="(min-width:700px)">
                <img src="{{imagen}}" alt="{{label}}" class="cover-img" />
            </picture>
        </div>
        {{/each}}
    </div>
</section>

