<header class="py-3 px-4">
    <div class="grid">
        <div class="row justify-between align-items-center">
            
            <section class="col-4">
                <h1>{{navbar.title_nav}}</h1>
            </section>
            
            <nav class="col-8 row justify-end">
                <ul class="row justify-end gap-4">
                    {{#each navbar.links}}
                        <li>
                            <a href="{{url}}" class="standard_padding">{{text}}</a>
                        </li>
                    {{/each}}
                </ul>
            </nav>

        </div>
    </div>
</header>