<section id="inicio" class="hero texto-centro">
    <div class="contenedor">
        <h1>{{hero-data.title}}</h1>
        <p>{{hero-data.description}}</p>
        <a href="{{hero-data.ctaUrl}}" class="btn">{{hero-data.ctaText}}</a>
    </div>
</section>
